@each $name, $value in $colors {
  .#{$class-prefix}-color-#{$name} {
    color: $value;
  }

  .#{$class-prefix}-background-#{$name} {
    background-color: $value;
  }
}

img {
  max-width: 100%;
}

// Borders
@include border-rules();

// Spacing
@include spacing-rules();
