@import 'helpers/font-feature-settings';
@import 'helpers/helpers';

@if ($use-base) {
  body {
    line-height: #{$body-line-height};
    text-rendering: optimizeLegibility;
    @include font-feature-settings(('kern'));
    @include font-variants($font-variants);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: $type-bold-weight;
    position: relative;
    line-height: #{$header-line-height}em;
  }

  @if $fancy-ligatures-in-headings {
    h1, h2, h3, h4, h5, h6,
    .#{$class-prefix}-heading-font-features {
      @include font-variants(('discretionary-ligatures'));
    }
  }


  p {
    margin-bottom: 1.3em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  code {
    font-family: monospace;
    background-color: rgba(128, 128, 128, 0.07);
    white-space: nowrap;
    padding: 0 0.2em;
    font-size: 90%;
  }

  pre > code {
    padding: 1em;
    overflow: auto;
    display: block;
    white-space: pre;
  }

  strong, b {
    font-weight: $type-bold-weight;
  }

  em, i {
    font-style: italic;
  }

  .#{$class-prefix}-small-caps {
    font-variant-caps: small-caps;
    line-height: 1em;
  }


  p a {
    color: color('accent');

    &:hover {
      text-decoration: underline;
    }
  }

} // use-base conditional
