/// Exports some basic helper classes to aid in development.
/// *If `$use-helper-classes` is true, the result of this mixin is included in the default nebula.css output*.
/// @group helpers
/// @requires $breakpoint-hide-on-mobile - Determines what viewport width the `hide-on-mobile` and `show-on-mobile` classes kick in.
/// @output
/// ```scss
/// .n-text-centered {}  // Centers text
/// .n-block-centered {} // Centers a block element
/// .n-inline {}         // Turns a block element into an inline element
/// .n-clear {}          // Applies a clearfix to the element
/// .n-hide-on-mobile {} // Hides element if viewport width < `$breakpoint-hide-on-mobile`
/// .n-show-on-mobile {} // Shows element only if viewport width < `$breakpoint-hide-on-mobile`
/// ```
@mixin helper-classes() {
  .#{$class-prefix}-text-centered {
    text-align: center;
  }

  .#{$class-prefix}-block-centered {
    margin-left: auto;
    margin-right: auto;
  }

  .#{$class-prefix}-inline {
    display: inline;
  }

  .#{$class-prefix}-clear:after {
    content:"";
    display:table;
    clear:both;
  }

  .#{$class-prefix}-hide-on-mobile {
    display: none !important;
  }

  .#{$class-prefix}-show-on-mobile {
    display: initial !important;
  }

  @media screen and (min-width: $breakpoint-hide-on-mobile) {
    .#{$class-prefix}-hide-on-mobile {
      display: block !important;
    }

    .#{$class-prefix}-show-on-mobile {
      display: none !important;
    }
  }
}

@if ($use-helper-classes) {
  @include helper-classes();
}
