@import 'helpers/helpers';

/// By default, Nebula's reset stylesheet removes any styling of lists. This
/// allows you to use semantic lists for non-text elements.
///
/// To use traditional list, you can use the `.n-ul` and `.n-ol` classes created
/// by this mixin.
/// *If `$use-lists` is true, the result of this mixin is included in the default nebula.css output*.
/// @group lists
/// @output
/// ```css
/// .n-ul { list-style: disc outside; }
/// .n-ol { list-style: decimal outside; }
/// ```
@mixin list-classes() {
  .#{$class-prefix}-ul {
    list-style: disc outside;
  }

  .#{$class-prefix}-ol {
    list-style: decimal outside;
  }

  .#{$class-prefix}-ul,
  .#{$class-prefix}-ol {
    padding-left: 1.4em;
    margin-top: 0;

    li {
      margin-bottom: space('smallest');
    }
  }
}

@if ($use-lists) {
  @include list-classes();
}
