html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;

  @include font-feature-settings($font-feature-settings);
}

body {
  line-height: #{$body-line-height};
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  position: relative;

  @include font-feature-settings($font-feature-heading-settings);
}

h1, h2, h3, h4, h5, h6 {
  line-height: #{$header-line-height};
}

@include type-rules;

@each $name, $value in $font-base-sizes {
  .#{$class-prefix}-font-#{$name} {
    @include font-rules($value);
  }
}

p {
  margin-bottom: 1.3em;
}

p:last-of-type {
  margin-bottom: 0;
}

.#{$class-prefix}-small-caps {
  @include font-feature-settings(append($font-feature-settings, smcp));
  line-height: 1em;
}

code {
  font-family: monospace;
  background-color: rgba(128, 128, 128, 0.15);
  white-space: nowrap;
  padding: 0 0.2em;
  font-size: 90%;
}

pre > code {
  padding: 1em;
  overflow: auto;
  display: block;
  white-space: pre;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

.#{$class-prefix}-ul {
  list-style: disc outside;
}

.#{$class-prefix}-ol {
  list-style: decimal outside;
}

.#{$class-prefix}-ul,
.#{$class-prefix}-ol {
  padding-left: 1.4em;
  margin-top: 0;

  li {
    margin-bottom: space('smallest');
  }
}
