html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;

  @include font-feature-settings($font-feature-settings);
}

body {
  line-height: #{$body-line-height};
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  position: relative;

  @include font-feature-settings($font-feature-heading-settings);
}

h1, h2, h3, h4, h5, h6 {
  // This has to go. It was added to align headings with adjacent elements, but looks bad in other situations. This seems purely a contextual thing and shouldn't be applied at a global level
  // top: -0.2em;
  line-height: #{$header-line-height};
}

@include type-rules;

@each $name, $value in $font-base-sizes {
  .#{$class-prefix}-font-#{$name} {
    @include font-rules($value);
  }
}

p {
  margin-bottom: 1.3em;
}

p:last-of-type {
  margin-bottom: 0;
}

.#{$class-prefix}-small-caps {
  @include font-feature-settings(append($font-feature-settings, smcp));
  line-height: 1em;
}

code {
  font-family: 'Fira Mono', 'Inconsolata', monospace;
  background-color: rgba(128, 128, 128, 0.15);
  white-space: nowrap;
  padding: 0 0.2em;
  font-size: 90%;
}

pre > code {
  padding: 1em;
  overflow: auto;
  display: block;
  white-space: pre;
}

// From normalize.css:
// Prevent `sub` and `sup` affecting `line-height` in all browsers.

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.#{$class-prefix}-ul {
  list-style: disc outside;
}

.#{$class-prefix}-ol {
  list-style: decimal outside;
}

.#{$class-prefix}-ul,
.#{$class-prefix}-ol {
  padding-left: 1.4em;
  margin-top: 0;

  li {
    margin-bottom: space('smallest');
  }
}
