@function font-size($name) {
  @return raw-font-size($name) + px;
}
@function raw-font-size($name) {
  @return map-get($fontBaseSizes, $name);
}

@function color($name) {
  @return map-get($colors, $name);
};


.#{$class-prefix}-centered {
  text-align: center;
}

.#{$class-prefix}-inline {
  display: inline;
}

.#{$class-prefix}-clear:after {
  content:"";
  display:table;
  clear:both;
}

.#{$class-prefix}-hideOnMobile {
  display: none !important;
}

.#{$class-prefix}-showOnMobile {
  display: initial !important;
}

@media screen and (min-width: $breakpoint-hideOnMobile) {
  .#{$class-prefix}-hideOnMobile {
    display: block !important;
  }

  .#{$class-prefix}-showOnMobile {
    display: none !important;
  }
}
