// http://blog.webtype.com/?p=4085
$font-feature-settings: "calt", "liga", "clig", "kern", "onum";
$font-feature-heading-settings: "dlig", "swsh";

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;

  -moz-font-feature-settings: $font-feature-settings;
  -ms-font-feature-settings: $font-feature-settings;
  -webkit-font-feature-settings: $font-feature-settings;
  font-feature-settings: $font-feature-settings;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  position: relative;
  -moz-font-feature-settings: $font-feature-settings, $font-feature-heading-settings;
  -ms-font-feature-settings: $font-feature-settings, $font-feature-heading-settings;
  -webkit-font-feature-settings: $font-feature-settings, $font-feature-heading-settings;
  font-feature-settings: $font-feature-settings, $font-feature-heading-settings;
}

h1, h2, h3 {
  top: -.2em;
  line-height: 1.2;
}

@include typeRules;

@each $name, $value in $fontBaseSizes {
  .#{$class-prefix}-font-#{$name} {  @include font-rules($value); }
}

p {
  margin-bottom: 1.3em;
}

p:last-of-type {
  margin-bottom: 0;
}

abbr, .#{$class-prefix}-small-caps {
  font-variant: small-caps;
  text-transform: lowercase;
  font-size: 1.2em; // TODO: this might be just a font thing
  line-height: 1em;
}

code {
  font-family: 'Fira Mono', Inconsolata, monospace;
  background-color: rgba(128,128,128,.15);
  white-space: nowrap;
  padding: 0 .2em;
  font-size: 90%;
}

pre > code {
  padding: 1em;
  overflow: auto;
  display: block;
  white-space: pre;
}

// From normalize.css:
// Prevent `sub` and `sup` affecting `line-height` in all browsers. 

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

.#{$class-prefix}-ul {
  list-style: disc outside;
}

.#{$class-prefix}-ol {
  list-style: decimal outside;
}

.#{$class-prefix}-ul,
.#{$class-prefix}-ol {
  padding-left: 1.4em;
  margin-top: 0;

  li {
    margin-bottom: space('smallest');
  }
}
