@import "config";
@import "mixins";
@import "helpers";
@import "reset";

@each $name, $value in $colors {
  .#{$class-prefix}-color-#{$name}          { color: $value; }
  .#{$class-prefix}-background-#{$name}     { background-color: $value; }  
}

@include borderRules();

// Spacing
@include spacingRules();

/* Typography */
@import "typography";

::-moz-selection {
  background: rgba(color('accent'), .4);
  text-shadow: none;
}

::selection {
  background: rgba(color('accent'), .4);
  text-shadow: none;
}

/* Typography */

.#{$class-prefix}-ul {
  list-style: disc inside;
}

.#{$class-prefix}-ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

.#{$class-prefix}-ul {
  padding-left: 0;
  margin-top: 0;
}

