// ----------------------------------------------------------------------------
// Font Feature Settings mixin by bitmanic
// From https://github.com/bitmanic/font-feature-settings
// Adjusted by Marco Hamersma, because old moz and webkit prefixes are
// not deemed necessary anymore according to caniuse.com
// ----------------------------------------------------------------------------

@mixin font-feature-settings($feature-list: false) {
  // Only proceed if a list of arguments was passed
  @if $feature-list {
    // Create an empty list for the standard syntax
    $standard: ();

    // Add each listed feature to the standard
    @each $feature in $feature-list {
      $standard: append($standard, '#{$feature}' 1, 'comma');;
    }

    // Finally, print out the prefixed and non-prefixed code for all of the listed features
    -ms-font-feature-settings: $standard;
    -o-font-feature-settings: $standard;
    font-feature-settings: $standard;
  }
}
